# Your Azure subscription credentials
azure_subscription_id = "..."
azure_tenant_id = "..."
azure_client_id = "..."
azure_client_secret = "..."
azure_location = "southeastasia"
tag_owner = "Derek So"
