# Your Azure subscription credentials
azure_subscription_id = "..."
azure_tenant_id = "..."
azure_client_id = "..."
azure_client_secret = "..."
azure_location = "southeastasia"
tag_resource_owner    = "you@email.com"
tag_group = "My Group"
tag_department = "My Department"
tag_stakeholder = "Budget Owner"
tag_environment = "Test"
tag_project = "Demo"
