# GCO-presales-apj
azure_subscription_id = ""
azure_tenant_id       = ""
azure_client_id       = ""
azure_client_secret   = ""
azure_location        = "Central India"
rancher_server_use_static_public_ip = true
no_of_downstream_clusters           = 2
prefix                = "lab"
resource_group_name   = "attendee1"
tag_resource_owner    = "you@email.com"
tag_group             = "My Group"
tag_department        = "My Department"
tag_stakeholder       = "Budget Owner"
tag_environment       = "Test"
tag_project           = "Demo"